body {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    min-width: 100dvw;
    background-color: rgb(254, 229, 244);
    font-family: system-ui, sans-serif;
    margin: 0;
    color: rgb(255, 255, 255);
}

.board {
    display: flex;
    flex-direction: column;
    border: 1px solid saddlebrown;
}

.row{
    display: flex;
}
.sqr {
    display: flex;
    width: 1rem;
    height: 1rem;
    text-align: center;
    cursor: pointer;
}



